aiofiles
alembic
altair
fastapi
httpx
implicit
joblib
kaleido
matplotlib
numpy
pandas
plotly
psycopg2-binary
pydantic
pytest
python-dotenv
python-multipart
requests
scikit-learn
scipy
seaborn
spotipy
sqlalchemy
streamlit-plotly-events
streamlit
uvicorn
